name: Deploy to Local K8s

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Show Docker Version
        run: docker --version

      - name: Show Kubectl Version
        run: kubectl version --client

      - name: Verify
        run: kubectl get pods
